<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/<%= css %>'/>
</head>
<body>

<div id="react-target"></div>

<script type="text/javascript" src="/js/<%= script %>"></script>
</body>
</html>
