.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: #C0C0C0;
    padding-top: 10px;
    padding-left: 10px;
    
    font-size: 1em;
    text-align: center
}