.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: black;
  padding-top: 10px;
  padding-left: 10px;

  color: white;
  font-size: large;

  z-index: 10;
}